{{#if success_message}}
<div class="card mb-4 text-white bg-success">
    <div class="card-body">
        {{success_message}}
    </div>
</div>
{{/if}}

{{#if error_message}}
<div class="card mb-4 text-white bg-danger">
    <div class="card-body">
        {{error_message}}
    </div>
</div>
{{/if}}