<form class="user" action="/posts" method="POST" enctype="multipart/form-data">
    {{> form-messages}}
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Add Task</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" name="title" class="form-control form-control-user" id="exampleInputTitle"
                            aria-describedby="titleHelp" placeholder="Title...">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control form-control-user" name="content" placeholder="Content..."
                            cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" name="allow_comments" class="custom-control-input" id="customCheck">
                            <label class="custom-control-label" for="customCheck">Allow Comments</label>
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-user btn-block">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Due Date</h6>
                </div>
                <div class="card-body">
                    Date
                </div>
            </div>

        </div>
    </div>
</form>