<form class="user" action="/tasks" method="POST">
    {{> form-messages}}
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Add Task</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" name="title" class="form-control form-control-user"
                            aria-describedby="titleHelp" placeholder="Title...">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control form-control-user" name="content" placeholder="Content..."
                            cols="30" rows="10"></textarea>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-user btn-block">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Due Date</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" name="daterange" id="addPicker" class="mb-3 form-control form-control-user">
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>