<form action="#" method="POST">
    <div class="card mb-4 text-white bg-danger">
        <div class="card-body">
            Errors or Validation
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Title</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" name="title" class="form-control form-control-user" id="exampleInputTitle"
                            aria-describedby="titleHelp" placeholder="Title...">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control form-control-user" name="content" placeholder="Content..."
                            cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                            <input type="checkbox" class="custom-control-input" id="customCheck">
                            <label class="custom-control-label" for="customCheck">Allow Comments</label>
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-user btn-block">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Date &amp; Status</h6>
                </div>
                <div class="card-body">
                    Date
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Category</h6>
                </div>
                <div class="card-body">
                    Checkbox
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Featured Image</h6>
                </div>
                <div class="card-body">
                    File Upload
                </div>
            </div>
        </div>
    </div>
</form>

<form action="#" method="POST">
    <div class="card mb-4 text-white bg-danger">
        <div class="card-body">
            Errors or Validation
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Comments</h6>
                </div>
                <div class="p-4">
                    <div class="card-body p-0 pb-4">
                        <div class="card bg-light text-black">
                            <div class="card-body">
                                Comment #1
                                <div class="text-black-50 small">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.
                                    Quae exercitationem eum aperiam natus a voluptatem eaque ut ea aspernatur sequi
                                    suscipit
                                    non delectus maiores sint perferendis deserunt, ducimus corporis nostrum!</div>
                                <br>
                                <p class="m-0 small text-danger">Put a delete button</p>
                            </div>
                        </div>
                    </div>

                    <div class="card-body p-0 pb-4">
                        <div class="card bg-light text-black">
                            <div class="card-body">
                                Comment #1
                                <div class="text-black-50 small">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.
                                    Quae exercitationem eum aperiam natus a voluptatem eaque ut ea aspernatur sequi
                                    suscipit
                                    non delectus maiores sint perferendis deserunt, ducimus corporis nostrum!</div>
                                <br>
                                <p class="m-0 small text-danger">Put a delete button</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Comment Box</h6>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <textarea class="form-control form-control-user" name="content" placeholder="Content..."
                            cols="30" rows="10"></textarea>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-user btn-block">
                </div>
            </div>
        </div>
    </div>
</form>