<h1>Logs</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis, cum autem ullam nostrum pariatur id provident, ut
    quas at itaque distinctio nihil qui perferendis. Natus placeat quis doloribus cum nemo.</p>

<div class="card shadow mb-12">
    <div class="card-body">

        <div class="mb-4 col-sm-12 col-md-6">
            <div id="dataTable_filter" class="dataTables_filter">
                <label><span>Search:</span> <input type="search" class="form-control form-control-sm" placeholder=""
                        aria-controls="dataTable"> <a href="#" class="btn btn-primary btn-icon-split btn-sm">
                        <span class="text">Search</span>
                    </a></label>
            </div>
        </div>

        <div class="activity-log">
            {{#each logs_list}}

            {{#if post}}
            <div class="card bg-light text-black mb-2">
                <div class="card-body">
                    <div class="text-black-50 small">{{note}}</div>
                </div>
            </div>
            {{/if}}

            {{#if task}}
            <div class="card bg-light text-black mb-2">
                <div class="card-body">
                    <div class="text-black-50 small">{{note}}</div>
                </div>
            </div>
            {{/if}}

            {{#if category}}
            <div class="card bg-light text-black mb-2">
                <div class="card-body">
                    <div class="text-black-50 small">{{note}}</div>
                </div>
            </div>
            {{/if}}

            {{/each}}
        </div>
    </div>
</div>